<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>热门</string>
		<key>tag</key>
		<integer>74</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>最新发布</string>
		<key>tag</key>
		<integer>76</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>规划启蒙</string>
		<key>tag</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>自我认知</string>
		<key>tag</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>环境认知</string>
		<key>tag</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>制定目标</string>
		<key>tag</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>决策行动</string>
		<key>tag</key>
		<integer>51</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>方法技巧</string>
		<key>tag</key>
		<integer>61</integer>
	</dict>
</array>
</plist>
